.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  padding: 18px 40px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;

  li {
    cursor: pointer;
    font-weight: 500;
  }
}

.quote-btn {
  background: #f7931e;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: 600;
}

/* ===== MEGA MENU ===== */

.mega-menu {
  position: fixed;
  top: 70px; // navbar height
  left: 0;
  width: 100%;
  background: #0b3a63;
  padding: 60px 0;
  z-index: 999;
  // opacity: 0;
  // transform: translateY(-10px);
  // transition: all 0.25s ease;
}
// .mega-menu.active {
//   opacity: 1;
//   transform: translateY(0);
// }

.mega-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 80px;
  color: white;
}

.mega-column {
  min-width: 220px;

  h4 {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;

    &:after {
      content: "";
      width: 40px;
      height: 3px;
      background: #2ea3f2;
      display: block;
      margin-top: 8px;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      color: #cbd8e6;

      &:hover {
        color: white;
      }
    }
  }
}

.border {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 40px;
}

// .nav-links li {
//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     bottom: -6px;
//     left: 0;
//     width: 0;
//     height: 2px;
//     background: #2ea3f2;
//     transition: 0.3s;
//   }

//   &:hover::after {
//     width: 100%;
//   }
// }
