.services {
  position: relative;
  background-size: cover;
  background-position: center;
  // padding: 100px 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(10, 25, 45, 0.9);
}

.grid-wrapper {
  position: relative;
  z-index: 2;
  // width: 92%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.service-card {
  position: relative;
  padding: 60px 30px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: #0d1f33;
  color: #fff;
  overflow: hidden;
  transition: 0.4s ease;

  h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .tags span {
    font-size: 12px;
    margin-right: 10px;
    opacity: 0.8;
  }

  .description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s ease;
  }

  /* Show description on hover */
  &:hover .description {
    opacity: 1;
    transform: translateY(0);
  }
}

.border-top {
  border-top: 8px solid #ee9b29;
}
/* Integrated Card Always Visible */
.highlight {
  background: linear-gradient(135deg, #1e73be, #0a4c88);
  border-top: 8px solid #3598f2;

  .description {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Blue Integrated Card */
// .highlight {
//   background: linear-gradient(135deg, #1e73be, #0a4c88);
// }